$calculator-color-theme-1:lightgrey;
$characters-color-theme-1: orange;
$numbers-color-theme-1: grey;
$board-color-theme-1: lightblue;

$calculator-color-theme-2:#FFB573;
$characters-color-theme-2: #1E6D74;
$numbers-color-theme-2: #FF7800;
$board-color-theme-2: #66E275;

$calculator-color-theme-3:#FFFE73;
$characters-color-theme-3: #85004E;
$numbers-color-theme-3:#FF7800;
$board-color-theme-3: #66E275;

$calculator-color-theme-4:#A66900;
$characters-color-theme-4: #2E16B1;
$numbers-color-theme-4:#00A383;
$board-color-theme-4: lightblue;