.calculator {
  margin: 0 auto;
  width: 300px;
  height: 375px;
  padding: 5px;
  border: 1px solid black;
}
.calculator__board {
  height: 70px;
  font: normal bold 35px/120% 'Roboto', sans-serif;
  text-align: right;
}
.calculator__button {
  font: normal bold 20px/120% 'Roboto', sans-serif;
  border: 0;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator__button_colored {
  background-color: orange;
}

@media (max-width: 700px) {
  .calculator {
    width: 95%;
    height: 90vw;
  }
  .calculator__board {
    height: 20%;
    font: normal bold 50px/120% 'Roboto', sans-serif;
  }
  .calculator__button {
    font: normal bold 30px/120% 'Roboto', sans-serif;

  }
}