.calculator {
  margin: 0 auto;
  width: 350px;
  height: 375px;
  padding: 10px;
  border: 0;
  border-radius: 15px;
}
.calculator__board {
  height: 70px;
  font: normal bold 30px/120% 'Roboto', sans-serif;
  text-align: right;
}
.calculator__button {
  display: flex;
  align-items: center;
  justify-content: center;

  font: normal bold 20px/120% 'Roboto', sans-serif;
  border: 0;
  cursor: pointer;

  &:hover {
    filter: invert(0.25);
  }
  &:active {
    filter: opacity(0.5);
  }
}

@media (max-width: 700px) {
  .calculator {
    width: 95%;
    height: 95vw;
  }
  .calculator__board {
    height: 20%;
    font: normal bold 50px/120% 'Roboto', sans-serif;
  }
  .calculator__button {
    font: normal bold 37px/120% 'Roboto', sans-serif;
  }
}

@media (max-width: 420px) {
  .calculator__button {
    font: normal bold 20px/120% 'Roboto', sans-serif;
  }
}
